div.ui.segment.EmailContainer {
    background-color: #F3F6F7;
}

.center-flex-box {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.template-menu-options {
    display: flex;
}

.template-subject{
    width: 100%;
    height: 10%;
    border-color: #dededf;
    padding: 1em;
    margin: 0.5em 0;
}

.template-text{
    width: 100%;
    height: 70%;
    border-color: #dededf;
    padding: 1em;
    margin: 0.5em 0;
}

div.contact-options{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

div.no-overflow{
    max-height: 70vh;
    overflow: scroll;
}
