h3 {
    text-align: center;
}

div.ui.segment.EmailContainer {
    background-color: #F3F6F7;
}

.template-menu-options {
    width: 100%;
    display: flex;
    padding-bottom: 1em;
}

.template-subject{
    padding: 1em;
}

.ui.form.template-text{
    width: 100%;
    height: 70%;
    border-color: #dededf;
    margin: 0.5em 0;
}

textarea.template-text{
    height: 100%;
    width: 100%
}

div.contact-options{
    display: flex;
    padding-bottom: 1em;
}

div.no-overflow{
    max-height: 70vh;
    overflow: scroll;
}

div.ui.segment.template-item:hover{
    background-color: #F3F6F7;
}

i.delete.icon.delete-button{
    cursor: pointer;
}