EmailContainer {
    width: 100%;
    height: 80%;
}

.TemplateMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.template-menu-options {
    display: flex;
}

.template-text{
    width: 100%;
    height: 100%;
    border: none;
    padding: 1em;
}