div.ui.segment.contact-item{
    text-align: center;
}

.delete.icon.delete-button{
    float: right;
}

div.contact-options{
    display: flex;
    justify-content: space-between;
}

div.ui.segment.contact-item:hover{
    background-color: #F3F6F7;
}

div.ui.segment.contact-item.selected{
    background-color: #F3F6F7;
}