.Navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Title{
    font-weight: bold;
    float: right;
}

div.field.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.field.login-button > button{
    margin-top: 1.5em;

}

div.Login{
    display: flex
}