.Navbar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Title{
    font-weight: bold;
}

.Login{
    display: flex; 
    align-items: center;
}

.button.ui.button.login-button{
    height: 50%;
    margin: 0.5em 1em 0;
}