.App{
    height: 100vh;
    background-color: #e0e1e2;
    background: repeating-linear-gradient(
        45deg,
        #DADAE7,
        #DADAE7 10px,
        #DCE1F9 10px,
        #DCE1F9 20px
    );
}

div.ui.segment.Navbar{
    background-color: #F3F6F7;
}

.center-flex-box {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}